ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  display: flex;
  justify-content: center;
}

li a, .dropbtn {
  display: inline-block;
  color: #545E56;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 5px;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #e4ebed;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  /* dropdown goes over other material  */
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #545E56;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

article {
  background-color: #e4ebed;
  padding: 1em;
  margin: 20px;
  border-radius: 6px;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 25px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

img {
  max-width: 100%;
}

footer {
  text-align: center;
  padding: 2em;
  margin-top: 2em;
}

.worksCited {
  font-size: 12px;
  text-align: left;
  padding-bottom: 20px;
}

/*text!!!!*/

h1 {
  font-family: 'Comfortaa', cursive;
  color: #545E56;
  font-size: 300%;
  font-weight: 300;
  text-align: center;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 150%;
  color: #545E56;
}

h2{
  font-family: 'Montserrat', sans-serif;
  color: #545E56;
}

p {
  font-family: 'Montserrat', sans-serif;
  color: #231f20;
  text-indent: 50px;
  line-height: 1.5em;
  color: #545E56;
}


a {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}